body {
    text-align: center;
    line-height: 1.5em;
    background-image: url("/images/corner2.png");
    background-size: cover;
}

#widther {
    margin: 0 auto;
    max-width: 1000px;
    text-align: left;
}

footer {
    border-top: solid 1px rgb(38, 51, 122);
    font-size: large;
    background-color: rgb(238, 238, 238);
    min-height:50px;
    padding: 1em;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

h2 > a {
    font-weight: normal;
}

h2 > sup {
    float: right;
}

#title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: rgb(38, 51, 122);
}

h1 {
    color: rgb(38, 51, 122);
}

h4 {
    font-weight: bold;
}

p, li, a, .caption {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    text-align: center;
    color: rgb(38, 51, 122);
}

a:hover {
    text-decoration: underline;
}

ul {
    line-height: 2em;
}

.eg {
    border: solid 1px rgb(38, 51, 122);
    padding: 5px;
    margin-bottom: 10px;
}

code, pre {
    font-size: 1.25em;
}

li > ul > li {
    font-size: smaller;
}

.figure {
    text-align: center;
}

.caption {
    padding: 0 50px 0 50px;
}

table.layout {

}

table.layout td,
table.layout th {
    padding: 5px;
    vertical-align: top;
    font-family: sans-serif;
}

.query {
    float:right;
    margin-top: -200px;
    margin-right: 100px;
}

.quote {
    margin: 0 30px 0 30px;
    font-style: italic;
    line-height: 2em;
    background-color: #eee;
    padding: 10px;
}

/* Dark Grey rgb(15, 150, 150) */
/* Red       rgb(182, 46, 51) */
/* Purple    rgb(87, 36, 90) */
/* Blue      rgb(36, 47, 115) */

#header-content {
    background-color: white;
}

.table-container {
    width: 100%;
    border-collapse: collapse;
}
.table-container td {
    padding: 5px;
 }
#surround-logo {
    height: 100px;
}
#surround-title {
    color: rgb(50, 50, 50); 
    font-size: 35px;
    font-weight: bold;
}

#main-menu {
    text-align: right;
    letter-spacing: 2px;
}

#slogan {
    color: rgb(182, 46, 51);
    font-weight: bold;
    /*font-style: italic;*/
    font-size: 2em;
    text-align: center;
    background-color: rgb(238, 238, 238);
    padding: 50px;
}