<style>
    #footer {
        grid-area: footer;
        display: grid;
        grid-template-columns: 1fr 500px 500px 1fr;
        border-top: solid 1px rgb(38, 51, 122);
        background-color: rgb(238, 238, 238);
        padding: 20px;
    }

    #footer a {
        color:rgb(100, 100, 100);
    }
</style>
<div id="footer">
    <div style="grid-column:2; justify-self: left;">
        &copy; <a href="https://surroundaustralia.com">SURROUND Australia Pty Ltd, 2020</a>
    </div>
    <div style="grid-column:3; justify-self: right;">
        <a href="/about">About</a> | <a href="/contact">Contact Us</a>
    </div>
</div>