<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SURROUND Australia Pty Ltd</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="style/style.css" rel="stylesheet">
</head>
<body>
    <div id="widther">
        <div id="header-content">
            <table class="table-container">
                <tr>
                    <td>
                        <a href="https://surroundaustralia.com">
                            <img id="surround-logo" src="images/SURROUND-logo.png" alt="SURROUND logo" />
                        </a>
                    </td>
                    <td>
                        <a id="surround-title" href="https://surroundaustralia.com">
                            SURROUND
                        </a>
                    </td>
                    <td id="main-menu">
                        <a href="/">Home</a> |
                        <a href="/solutions">Solutions</a> |
                        <a href="/products">Products</a> |
                        <a href="/technology">Technology</a> |
                        <a href="/who">Who we work with</a> |
                        <a href="/about">About</a>         
                    </td>
                </tr>
            </table>
        </div>
        <div id="container-content">
            {{ content }}
        </div>
        <footer>
            <table class="table-container">
                <tr>
                    <td>
                        <p>&copy; <a href="https://surroundaustralia.com">SURROUND Australia Pty Ltd</a>, 2020</p>
                    </td>
                    <td>
                        <a href="/about">About</a> | <a href="/contact">Contact Us</a>
                    </td>
                </tr>
        </footer>
    </div>
</body>
</html>