<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SURROUND Australia Pty Ltd</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="style/style.css" rel="stylesheet">
</head>
<body>
    <div id="widther">
        <div id="header">
            <div id="title" style="float:left;">
                <a href="https://surroundaustralia.com"></a><img src="images/SURROUND-logo.png" alt="Club logo" style="height:100px;" /></a>
            </div>
            <div style="float:right;">
                <a href="/">Home</a> |
                <a href="/solutions">Solutions</a> |
                <a href="/products">Products</a> |
                <a href="/technology">Technology</a> |
                <a href="/who">Who we work with</a> |
                <a href="/about">About</a>         
            </div>
            <div style="clear:both;"></div>
        </div>
        <div id="container-content">
            {{ content }}
        </div>
        <footer>
            <p>
                &copy; <a href="https://surroundaustralia.com">SURROUND Australia Pty Ltd</a>, 2020&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/contact">Contact Us
            </p>
        </footer>
    </div>
</body>
</html>